body {
    background-image: url(bgimg.svg);
    background-attachment: fixed;
    background-size: cover;
}

.title {
    width: 560px;
    height: 100px;
    /* line-height: 100px; */
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: rgba(32, 32, 32, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #aaaaaa;
}

.titlegreen {
    color: #04FE2A;
    font-size: 50px;
    text-align: center;
    font-family: titleFont;
}

.titlered {
    color: #FF0144;
    font-size: 50px;
    text-align: center;
    font-family: titleFont;
}

.beian {
    width: 600px;
    height: 32px;
    border-radius: 10px;
    padding-top: 15px;
    margin: auto;
    background-color: rgba(32, 32, 32, 1);
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 21px;
    color: #04FE2A;
    font-family: titleFont;
}